extends layout

block content
  #keys
    a.key.a(href='#', data-note='a', data-length='100') A
      a.key.b(href='#', data-note='b', data-length='100') B
      a.key.c(href='#', data-note='c', data-length='100') C
      a.key.d(href='#', data-note='d', data-length='100') D
      a.key.e(href='#', data-note='e', data-length='100') E
      a.key.f(href='#', data-note='f', data-length='100') F
      a.key.g(href='#', data-note='g', data-length='100') G